.qr-code-viewer {
  padding-top: 100px;
  position: relative;
  overflow: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-code-viewer-content {
  margin-bottom: 40px;
}

.card {
  width: fit-content;
}

.options-container {
  width: fit-content;
  padding-left: 5px;
}

.qr-code-frame {
  position: relative;
}

.card-instructions {
  text-align: center;
  position: absolute;
  font-size: 21px;
  font-weight: bold;
  top: 135px;
  left: 55px;
  width: 300px;
}

.card-instructions p {
  margin-bottom: 5px;
}

.qr-code {
  position: absolute;
  top: 265px;
  left: 135px;
  /* z-index: 2; */
}

.language-select {
  margin-top: 20px;
}

.download-btn {
  margin-top: 20px;
}
