<div
  mdbModal
  #updatemenumodal="mdbModal"
  class="modal fade left"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Update Menu</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="updatemenumodal.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <input
          type="file"
          id="file"
          (change)="handleInputFiles($event.target.files)"
          class="form-control"
          required
        />
      </div>
      <div class="modal-footer d-flex flex-column justify-content-center">
        <button
          mdbBtn
          color="default"
          class="waves-light"
          mdbWavesEffect
          [disabled]="isInvalidFile"
          (click)="saveMenu()"
        >
          Submit
        </button>
        <div class="alert alert-danger" *ngIf="isOperationFailed">
          Failed to add menu...
        </div>
        <div class="alert alert-danger" *ngIf="isInvalidFile">
          File must not exceed 5 MB and must be in PDF format...
        </div>
      </div>
    </div>
  </div>
</div>
