<div
  mdbModal
  #addmenumodal="mdbModal"
  class="modal fade left"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Menu</h4>
        <button
          type="button"
          class="close"
          #closeButton
          mat-raised-button
          data-dismiss="modal"
          aria-label="Close"
          (click)="close()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="menuForm">
          <div class="md-form mb-5">
            <mdb-icon fas icon="utensils" class="prefix grey-text"></mdb-icon>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              mdbInput
              mdbValidate
              required
            />
            <label for="name">Menu name</label>
            <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">
              Menu name is required
            </mdb-error>
            <mdb-success *ngIf="name.valid && (name.dirty || name.touched)"
              >Valid
            </mdb-success>
          </div>

          <div class="md-form mb-4">
            <mdb-icon fas icon="file-pdf" class="prefix grey-text"></mdb-icon>
            <input
              type="text"
              id="filename"
              formControlName="filename"
              class="form-control"
              mdbInput
              mdbValidate
            />
            <label for="filename">Menu filename</label>
            <mdb-error
              *ngIf="filename.invalid && (filename.dirty || filename.touched)"
            >
              Filename is required and must only include small letters, numbers
              or '_'
            </mdb-error>
            <mdb-success
              *ngIf="filename.valid && (filename.dirty || filename.touched)"
            >
              Valid
            </mdb-success>
          </div>
          <div class="md-form mb-3">
            <mdb-icon fas icon="file" class="prefix grey-text"></mdb-icon>
            <input
              type="file"
              #menufile
              (change)="handleInputFiles($event.target.files)"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex flex-column justify-content-center">
        <button
          type="button"
          class="btn"
          id="saveButton"
          data-dismiss="modal"
          mdbWavesEffect
          mat-raised-button
          (click)="saveMenu()"
          [disabled]="!fileToUpload"
        >
          Save
        </button>
        <div class="alert alert-danger" *ngIf="isOperationFailed">
          Failed to add menu...either you have exceeded the limit of allowed
          menus or there's an issue with the server.
        </div>
        <div class="alert alert-danger" *ngIf="!isValidFile && fileToUpload">
          File must not exceed 5 MB and must be in PDF format...
        </div>
      </div>
    </div>
  </div>
</div>
