<div
  mdbModal
  #addMenuModal="mdbModal"
  class="modal fade left"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  [config]="{
    backdrop: false,
    ignoreBackdropClick: true,
    keyboard: false,
    animated: true
  }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">
          {{ "add-menu.ADD-MENU" | translate }}
        </h4>
        <button
          type="button"
          class="close"
          #closeButton
          mat-raised-button
          data-dismiss="modal"
          aria-label="Close"
          (click)="close()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="menuForm">
          <div class="md-form mb-5">
            <mdb-icon fas icon="utensils" class="prefix grey-text"></mdb-icon>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              mdbInput
              mdbValidate
              required
            />
            <label for="name">{{ "add-menu.NAME" | translate }}</label>
            <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">
              <span *ngIf="name.errors.required">{{
                "add-menu.REQ-MSG-NAME" | translate
              }}</span>
              <span *ngIf="name.errors.duplicate">{{
                "add-menu.MENU-NAME-ALREADY-EXISTS" | translate
              }}</span>
            </mdb-error>
            <mdb-success *ngIf="name.valid && (name.dirty || name.touched)"
              >{{ "add-menu.VALID" | translate }}
            </mdb-success>
          </div>
          <div class="md-form mb-5" *ngIf="isExternalMenu">
            <mdb-icon fas icon="link" class="prefix grey-text"></mdb-icon>
            <input
              type="text"
              id="externalMenuLink"
              formControlName="externalMenuLink"
              class="form-control"
              mdbInput
              mdbValidate
              required
            />
            <label for="externalMenuLink">{{
              "add-menu.EXTERNAL-LINK" | translate
            }}</label>
            <mdb-error
              *ngIf="
                externalMenuLink.invalid &&
                (externalMenuLink.dirty || externalMenuLink.touched)
              "
            >
              <span *ngIf="externalMenuLink.errors.required">{{
                "add-menu.REQ-MSG-LINK" | translate
              }}</span>
            </mdb-error>
            <mdb-success
              *ngIf="
                externalMenuLink.valid &&
                (externalMenuLink.dirty || externalMenuLink.touched)
              "
              >{{ "add-menu.VALID" | translate }}
            </mdb-success>
          </div>
          <div class="md-form mb-3" *ngIf="!isExternalMenu">
            <mdb-icon fas icon="file" class="prefix grey-text"></mdb-icon>
            <input
              type="file"
              #menufile
              (change)="handleInputFiles($event.target.files)"
              [disabled]="name.value === '' || name.invalid"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex flex-column justify-content-center">
        <button
          type="button"
          class="btn"
          id="saveButton"
          data-dismiss="modal"
          mdbWavesEffect
          mat-raised-button
          (click)="saveMenu()"
          [disabled]="
            (!fileToUpload && !isExternalMenu) ||
            menuForm.invalid ||
            (isSubmitted && !isOperationFailed)
          "
        >
          {{ "add-menu.SAVE" | translate }}
        </button>
        <div class="alert alert-danger" *ngIf="isOperationFailed">
          {{ "add-menu.FAILED-ALERT" | translate }}
        </div>
        <div class="alert alert-danger" *ngIf="!isValidFile && fileToUpload">
          {{ "add-menu.SIZE-ALERT" | translate }}
        </div>
        <div class="alert alert-info" *ngIf="isSubmitted && !isOperationFailed">
          <div class="row">
            <div class="col-md-2">
              <mat-spinner diameter="20"></mat-spinner>
            </div>
            <div class="col-md-auto">{{ "add-menu.SAVING" | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
