<div class="contact-tracing-home container-fluid">
  <div class="contact-tracing-home-content container">
    <h1>Welcome to BienMenu's Customer Checkin Solution</h1>
    <h4>It's safe, secure and free to use</h4>
    <ol>
      <li>Sign up for an account</li>
      <li>Add your business information</li>
      <li>Print your QR code</li>
      <li>
        Contact us in case of a positive COVID-19 case at your business and we
        will contact your customers on your behalf
      </li>
    </ol>
    <button mat-raised-button class="btn" (click)="goToSignup()">
      Sign Up
    </button>
  </div>
</div>
