<div class="contact-tracing-home container-fluid">
  <div class="contact-tracing-home-content container">
    <h1>{{ "contact-tracing-home.WELCOME" | translate }}</h1>
    <h4>{{ "contact-tracing-home.SUBTITLE" | translate }}</h4>
    <ol>
      <li>{{ "contact-tracing-home.SIGNUP" | translate }}</li>
      <li>{{ "contact-tracing-home.ADD-INFO" | translate }}</li>
      <li>{{ "contact-tracing-home.PRINT-MSG" | translate }}</li>
      <li>
        {{ "contact-tracing-home.COVID-19-MSG" | translate }}
      </li>
    </ol>
    <button mat-raised-button class="btn" (click)="goToSignup()">
      {{ "contact-tracing-home.SIGNUP-BTN" | translate }}
    </button>
  </div>
</div>
