<div class="restaurant-detail container-fluid">
  <div class="alert alert-danger" *ngIf="!userAllowedOnPage">
    Current user not authorized to view this restaurant...
  </div>
  <div class="restaurant-detail-content container">
    <div *ngIf="restaurant">
      <h2>{{ restaurant.name }} Details</h2>
      <div class="basic-info list-group">
        <div
          class="list-group-item first-item restaurant-detail-section-header"
        >
          <h4>Basic Info</h4>
        </div>
        <div class="list-group-item">
          <span class="restaurant-detail-field">ID: </span>{{ restaurant._id }}
        </div>
        <div class="list-group-item">
          <span class="restaurant-detail-field">Name: </span
          >{{ restaurant.name }}
        </div>
        <div class="list-group-item">
          <span class="restaurant-detail-field">Address: </span
          >{{ restaurant.address }}
        </div>
        <div class="list-group-item" *ngIf="userHasContactTracing">
          <div class="row restaurant-setting">
            <div class="col-md-2">
              <span class="restaurant-detail-field">Contact Tracing: </span>
            </div>
            <div class="col-md-auto">
              <div
                class="enabled-disabled"
                *ngIf="restaurant.tracingEnabled"
                style="color: green"
              >
                Enabled
              </div>
              <div
                class="enabled-disabled"
                *ngIf="!restaurant.tracingEnabled"
                style="color: red"
              >
                Disabled
              </div>
            </div>
            <div class="col-md-auto">
              <div class="contact-tracing-select">
                <select
                  class="browser-default custom-select"
                  [(ngModel)]="selectedCTSetting"
                  (ngModelChange)="onChangeCT($event)"
                >
                  <option value="true">Enable Contact Tracing</option>
                  <option value="false">Disable Contact Tracing</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="tracing-btn">
                <button
                  mat-raised-button
                  type="button"
                  class="btn"
                  (click)="saveContactTracing()"
                  [disabled]="
                    selectedCTSetting == restaurant.tracingEnabled ||
                    isCTSettingSubmitted
                  "
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="list-group-item" *ngIf="!hostedInternal">
          <div class="row restaurant-setting">
            <div class="col-md-2">
              <span class="restaurant-detail-field">Menus available at:</span>
            </div>
            <div class="col-md-auto">
              <div class="enabled-disabled">
                {{ restaurant.externalMenuLink }}
              </div>
            </div>
            <div class="col-md-3">
              <div class="setting-btn" *ngIf="!hostedInternal">
                <button
                  mat-raised-button
                  type="button"
                  class="btn"
                  (click)="saveMenuHostingSetting()"
                  [disabled]="isHostingSettingSubmitted"
                >
                  Manage Menus on BienMenu
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vertical-divider"></div>
      <div class="menus list-group" *ngIf="hostedInternal">
        <div
          class="list-group-item first-item restaurant-detail-section-header"
        >
          <h4>Restaurant Menus</h4>
        </div>

        <div
          *ngFor="let menu of restaurant.menus; let i = index"
          class="list-group-item"
        >
          <div class="row menu-row">
            <div class="col-md-10">
              <span class="restaurant-detail-field">Menu Name: </span
              >{{ menu.name }}
            </div>
            <div class="col-md-auto">
              <button
                mat-raised-button
                type="button"
                class="delete-btn btn btn-block"
                (click)="deleteMenu(menu, restaurant._id)"
              >
                Delete Menu
              </button>
            </div>
          </div>
          <div class="row menu-row">
            <div class="col-md-10">
              <span class="restaurant-detail-field">Last Updated: </span
              >{{ formatDate(menu.lastupdated) }}
            </div>
            <div class="col-md-auto">
              <button
                mat-raised-button
                type="button"
                class="btn btn-block"
                (click)="openModal('updatemenumodal' + menu._id, i)"
                [disabled]="!menuUpdateAllowed"
              >
                Update Menu
              </button>
            </div>
            <div class="col-md-auto" *ngIf="menuUpdating == i && success">
              <div class="menu-update-alert alert alert-success">
                Menu updated successfully!
              </div>
            </div>
            <app-update-menu
              [restaurantId]="restaurant._id"
              [menu]="menu"
              (success)="updateSuccess($event)"
            ></app-update-menu>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="add">
          <button
            mat-raised-button
            type="button"
            class="add-btn btn"
            (click)="openModal('addmenumodal', -1)"
            [disabled]="
              !menuUpdateAllowed || maxMenuCountReached || !hostedInternal
            "
          >
            Add Menu
          </button>
          <div
            class="menu-update-alert alert alert-info"
            *ngIf="!menuUpdateAllowed"
          >
            The maximum menu updates has been reached for this month. You can
            upgrade your plan for unlimited updates!
          </div>
          <div
            class="menu-update-alert alert alert-info"
            *ngIf="maxMenuCountReached"
          >
            The maximum number of allowed menus per restaurant has been reached.
            You can upgrade your plan to add more!
          </div>
          <div *ngIf="maxMenuCountReached || !menuUpdateAllowed">
            <a routerLink="/pricing-plans">
              <button mat-raised-button class="btn">Upgrade Now</button>
            </a>
          </div>
          <app-add-menu
            [restaurant]="restaurant"
            (closed)="onClosedModal($event)"
          ></app-add-menu>
        </div>
        <div class="delete">
          <button
            mat-raised-button
            type="button"
            class="delete-btn btn"
            (click)="deleteRestaurant(restaurant._id)"
          >
            Delete Restaurant
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
