.restaurant-detail {
  margin: 70px 0 70px 0;
  position: absolute;
  overflow: auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.restaurant-detail-content h2 {
  padding: 20px 0 50px 0;
  font-family: "Lobster Two";
  text-align: center;
}

.restaurant-detail-section-header h4 {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.basic-info .list-group-item {
  border: none;
}

.menus .list-group-item {
  border: none;
}

.restaurant-detail-field {
  text-align: center;
  font-weight: bold;
}

.menu-row {
  margin: 10px 0 10px 0;
}

.restaurant-setting {
  align-items: center;
}

.enabled-disabled {
  padding: 10px 0 10px 0;
}

.add {
  margin-top: 50px;
}

.delete {
  margin-top: 100px;
}
