<div class="restaurant-detail container-fluid">
  <div class="alert alert-danger" *ngIf="!userAllowedOnPage">
    {{ "restaurant-details.USER-ALERT" | translate }}
  </div>
  <div class="restaurant-detail-content container">
    <div *ngIf="restaurant">
      <h2>
        {{ restaurant.name }} {{ "restaurant-details.DETAILS" | translate }}
      </h2>
      <div class="basic-info list-group">
        <div
          class="list-group-item first-item restaurant-detail-section-header"
        >
          <h4>{{ "restaurant-details.INFO" | translate }}</h4>
        </div>
        <div class="list-group-item">
          <span class="restaurant-detail-field">ID: </span>{{ restaurant._id }}
        </div>
        <div class="list-group-item">
          <span class="restaurant-detail-field"
            >{{ "restaurant-details.NAME" | translate }}:</span
          >{{ restaurant.name }}
        </div>
        <div class="list-group-item">
          <span class="restaurant-detail-field">Address: </span
          >{{ restaurant.address }}
        </div>
        <div class="list-group-item" *ngIf="userHasContactTracing">
          <div class="row restaurant-setting">
            <div class="col-md-2">
              <span class="restaurant-detail-field"
                >{{ "restaurant-details.CONTACT-TRACING" | translate }}
              </span>
            </div>
            <div class="col-md-auto">
              <div
                class="enabled-disabled"
                *ngIf="restaurant.tracingEnabled"
                style="color: green"
              >
                {{ "restaurant-details.ENABLED" | translate }}
              </div>
              <div
                class="enabled-disabled"
                *ngIf="!restaurant.tracingEnabled"
                style="color: red"
              >
                {{ "restaurant-details.DISABLED" | translate }}
              </div>
            </div>
            <div class="col-md-auto">
              <div class="contact-tracing-select">
                <select
                  class="browser-default custom-select"
                  [(ngModel)]="selectedCTSetting"
                  (ngModelChange)="onChangeCT($event)"
                >
                  <option value="true">
                    {{ "restaurant-details.E-CONTACT-TRACING" | translate }}
                  </option>
                  <option value="false">
                    {{ "restaurant-details.D-CONTACT-TRACING" | translate }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="tracing-btn">
                <button
                  mat-raised-button
                  type="button"
                  class="btn"
                  (click)="saveContactTracing()"
                  [disabled]="
                    selectedCTSetting == restaurant.tracingEnabled ||
                    isCTSettingSubmitted
                  "
                >
                  {{ "restaurant-details.SAVE" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="row restaurant-setting">
            <div class="col-md-2">
              <span class="restaurant-detail-field">{{
                "restaurant-details.COVER-PHOTO" | translate
              }}</span>
            </div>
            <div class="col-md-auto">
              <img style="width: 150px" [src]="restaurant.coverPhotoUrl" />
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="row restaurant-setting">
            <div class="col-md-2">
              <span class="restaurant-detail-field"
                >{{ "restaurant-details.UPDATE-COVER-PHOTO" | translate }}
              </span>
            </div>
            <div class="col-md-auto">
              <input
                type="file"
                #coverPhotoImage
                (change)="handleImageFile($event.target.files)"
              />
            </div>
            <div class="col-md-3">
              <div class="tracing-btn">
                <button
                  mat-raised-button
                  type="button"
                  class="btn"
                  (click)="uploadCoverPhoto()"
                  [disabled]="!isValidImage || isSubmitted"
                >
                  {{ "restaurant-details.UPLOAD" | translate }}
                </button>
              </div>
            </div>
            <div
              class="alert alert-info"
              *ngIf="isSubmitted && !isOperationFailed"
            >
              <div class="row">
                <div class="col-md-2">
                  <mat-spinner diameter="20"></mat-spinner>
                </div>
                <div class="col-md-auto">
                  {{ "restaurant-details.UPLOAD-MSG" | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vertical-divider"></div>
        <div *ngIf="currentPlan !== 'contact-tracing'">
          <div class="menus list-group" *ngIf="hostedInternal">
            <div
              class="list-group-item first-item restaurant-detail-section-header"
            >
              <div class="row">
                <div class="col-md-11">
                  <h4>{{ "restaurant-details.REST-MENUS" | translate }}</h4>
                </div>
                <div class="col-md-auto">
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu"
                  >
                    <mat-icon style="margin-bottom: 4px; margin-left: 1px"
                      >note_add</mat-icon
                    >
                  </button>
                  <mat-menu #menu="matMenu">
                    <button
                      mat-menu-item
                      (click)="
                        goToRoute(
                          '/create-menu/' + restaurant._id + '/' + 'new-menu'
                        )
                      "
                    >
                      <mat-icon>menu_book</mat-icon>
                      <span>{{
                        "restaurant-details.CREATE-MENU" | translate
                      }}</span>
                    </button>
                    <button mat-menu-item (click)="openAddMenu(0)">
                      <mat-icon>picture_as_pdf</mat-icon>
                      <span>Upload a PDF menu</span>
                    </button>
                    <button mat-menu-item (click)="openAddMenu(2)">
                      <mat-icon>link</mat-icon>
                      <span>{{ "restaurant-details.LINK" | translate }}</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
            <div
              *ngFor="let menu of menus; let i = index"
              class="list-group-item"
            >
              <div class="row menu-row">
                <div class="col-md-10">
                  <span class="restaurant-detail-field">{{
                    "restaurant-details.MENU-NAME" | translate
                  }}</span
                  >{{ menu.name }}
                  <mat-slide-toggle
                    class="menu-toggle"
                    [color]="color"
                    [checked]="menu.isActive"
                    (change)="onMenuToggle($event, i)"
                  >
                  </mat-slide-toggle>
                </div>
                <div class="col-md-auto">
                  <button
                    mat-raised-button
                    type="button"
                    class="delete-btn btn btn-block"
                    (click)="deleteMenu(menu, restaurant._id)"
                  >
                    {{ "restaurant-details.DELETE-MENU" | translate }}
                  </button>
                </div>
              </div>
              <div class="row menu-row">
                <div class="col-md-10">
                  <span class="restaurant-detail-field">{{
                    "restaurant-details.LAST-UPDATED" | translate
                  }}</span
                  >{{ formatDate(menu.lastupdated) }}
                </div>
                <div class="col-md-auto">
                  <button
                    mat-raised-button
                    type="button"
                    class="btn btn-block"
                    (click)="updateMenu(menu._id, i)"
                    [disabled]="!menuUpdateAllowed"
                  >
                    {{ "restaurant-details.UPDATE-MENU" | translate }}
                  </button>
                </div>
                <div
                  class="col-md-auto"
                  *ngIf="menuToUpdateIndex == i && success"
                >
                  <div class="menu-update-alert alert alert-success">
                    {{ "restaurant-details.UPDATE-MSG" | translate }}
                  </div>
                </div>
              </div>
              <div class="row menu-row">
                <div class="col-md-10">
                  <span class="restaurant-detail-field">Type: </span
                  >{{ enumToMenuType(menu.type) }}
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="add">
              <!-- <button
                mat-raised-button
                type="button"
                class="add-btn btn"
                (click)="openModal('addMenuModal', -1)"
                [disabled]="
                  !menuUpdateAllowed || maxMenuCountReached || !hostedInternal
                "
              >
                Add Menu
              </button> -->
              <div
                class="menu-update-alert alert alert-info"
                *ngIf="!menuUpdateAllowed"
              >
                {{ "restaurant-details.ALERT-MSG-MONTH" | translate }}
              </div>
              <div
                class="menu-update-alert alert alert-info"
                *ngIf="maxMenuCountReached"
              >
                {{ "restaurant-details.ALERT-MSG-RESTO" | translate }}
              </div>
              <div *ngIf="maxMenuCountReached || !menuUpdateAllowed">
                <a routerLink="/pricing-plans">
                  <button mat-raised-button class="btn">
                    {{ "restaurant-details.UPGRADE" | translate }}
                  </button>
                </a>
              </div>
              <app-add-menu
                #addMenuComponent
                [restaurant]="restaurant"
                (closed)="onClosedModal($event)"
              ></app-add-menu>
            </div>
            <div class="delete">
              <button
                mat-raised-button
                type="button"
                class="delete-btn btn"
                (click)="deleteRestaurant(restaurant._id)"
              >
                {{ "restaurant-details.DELETE-RESTO" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
