<mdb-navbar
  class="app-nav"
  SideClass="navbar navbar-expand-lg navbar-dark fixed-top"
  [containerInside]="false"
  *ngIf="navbarService.visible"
>
  <mdb-navbar-brand
    ><a class="navbar-brand" href="#"
      ><img
        src="./assets/img/bienmenu-long-logo-white.png"
        height="45"
        alt="bienmenu logo" /></a
  ></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showAdminBoard">
        <a
          href="/admin"
          class="nav-link waves-light"
          routerLink="admin"
          mdbWavesEffect
          >Admin Board</a
        >
      </li>
      <li class="nav-item">
        <a
          href="/user"
          class="nav-link waves-light"
          *ngIf="isLoggedIn"
          routerLink="user"
          mdbWavesEffect
          >Home</a
        >
      </li>

      <!-- <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          Services<span class="caret"></span
        ></a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown dropdown-primary"
          role="menu"
        >
          <a
            href="/pricing-plans"
            class="dropdown-item waves-light"
            *ngIf="!isLoggedIn"
            routerLink="pricing-plans"
            mdbWavesEffect
            >Menu Management</a
          >
          <a
            href="/pricing-plans"
            class="dropdown-item waves-light"
            *ngIf="!isLoggedIn"
            routerLink="pricing-plans"
            mdbWavesEffect
            >Contact Tracing</a
          >
          <a
            href="/pricing-plans"
            class="dropdown-item waves-light"
            *ngIf="!isLoggedIn"
            routerLink="pricing-plans"
            mdbWavesEffect
            >Custom QR Codes</a
          >
        </div>
      </li> -->
      <li class="nav-item">
        <a
          href="/pricing-plans"
          routerLink="pricing-plans"
          class="nav-link waves-light"
          *ngIf="!isLoggedIn"
          mdbWavesEffect
          >Menu Management</a
        >
      </li>
      <li class="nav-item">
        <a
          href="/contact-tracing-home"
          routerLink="contact-tracing-home"
          class="nav-link waves-light"
          *ngIf="!isLoggedIn"
          mdbWavesEffect
          >Contact Tracing</a
        >
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a
          href="/profile"
          class="nav-link"
          routerLink="profile"
          mdbWavesEffect
          >{{ username }}</a
        >
      </li>
      <li class="nav-item">
        <a
          href="https://www.bien-menu.com/contact"
          class="nav-link waves-light"
          *ngIf="!isLoggedIn"
          mdbWavesEffect
          >Contact</a
        >
      </li>
      <li class="nav-item">
        <a
          href="https://www.bien-menu.com"
          class="nav-link waves-light"
          *ngIf="!isLoggedIn"
          mdbWavesEffect
        >
          Learn More
        </a>
      </li>
      <li class="nav-item">
        <a
          href="/login"
          class="nav-link waves-light"
          *ngIf="!isLoggedIn"
          routerLink="login"
          mdbWavesEffect
        >
          Login
        </a>
      </li>
      <li class="nav-item">
        <a
          href
          class="nav-link"
          *ngIf="isLoggedIn"
          (click)="logout()"
          mdbWavesEffect
          >Logout</a
        >
      </li>
    </ul>
  </links>
</mdb-navbar>
