<mdb-navbar
  class="app-nav"
  SideClass="navbar navbar-expand-lg navbar-dark fixed-top"
  [containerInside]="false"
  *ngIf="navbarService.visible"
>
  <mdb-navbar-brand
    ><a class="navbar-brand" href="#"
      ><img
        src="./assets/img/bienmenu-long-logo-white.png"
        height="45"
        alt="bienmenu logo" /></a
  ></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showAdminBoard">
        <a
          href="/admin"
          class="nav-link waves-light"
          routerLink="admin"
          mdbWavesEffect
          >Admin Board</a
        >
      </li>
      <li class="nav-item">
        <a
          href="/user"
          class="nav-link waves-light"
          *ngIf="isLoggedIn"
          routerLink="user"
          mdbWavesEffect
          >Restaurants</a
        >
      </li>
      <li class="nav-item">
        <a
          href="/pricing-plans"
          class="nav-link waves-light"
          *ngIf="!isLoggedIn"
          routerLink="pricing-plans"
          mdbWavesEffect
          >Pricing and Plans</a
        >
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a
          href="/profile"
          class="nav-link"
          routerLink="profile"
          mdbWavesEffect
          >{{ username }}</a
        >
      </li>
      <li class="nav-item">
        <a
          href="https://www.bien-menu.com"
          class="nav-link waves-light"
          *ngIf="!isLoggedIn"
          mdbWavesEffect
        >
          Learn More
        </a>
      </li>
      <li class="nav-item">
        <a
          href="/login"
          class="nav-link waves-light"
          *ngIf="!isLoggedIn"
          routerLink="login"
          mdbWavesEffect
        >
          Login
        </a>
      </li>
      <li class="nav-item">
        <a
          href
          class="nav-link"
          *ngIf="isLoggedIn"
          (click)="logout()"
          mdbWavesEffect
          >Logout</a
        >
      </li>
    </ul>
  </links>
</mdb-navbar>
