<div class="plans-container container-fluid">
  <div class="plans-container-content card card-container">
    <div class="alert alert-danger" *ngIf="isPaymentRequestFailed">
      There was a problem while processing your request to purchase this plan,
      please try again or contact us at: info@bienmenuapp.com if problem
      persists.
    </div>
    <div class="alert alert-info" *ngIf="isPaymentRequestSubmitted">
      Request for plan purchase is being processed, you will be redirected to
      the payment page momentarily!
    </div>
    <h2>Choose a plan that works for you!</h2>
    <div class="card-deck">
      <div class="card" *ngIf="!isLoggedIn">
        <div class="card-header text-center">Base</div>
        <div class="card-body text-center">
          <h1>$0</h1>
          <p>Free Plan</p>
          <button
            mat-raised-button
            class="btn"
            (click)="handlePlanClicked('basic')"
            [disabled]="isPaymentRequestSubmitted"
          >
            Select
          </button>
          <ul class="plan-feature-list">
            <li>
              Ideal for menus that do not get updated often
            </li>
            <li>
              Update or add up to one menu per month
            </li>
            <li>
              Unlimited menu deleting
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center">Plus</div>
        <div class="card-body text-center">
          <h1>$5.99</h1>
          <p>Every month</p>
          <p>14 day free trial</p>
          <button
            mat-raised-button
            class="btn"
            (click)="handlePlanClicked('plus')"
            [disabled]="isPaymentRequestSubmitted"
          >
            Start Free Trial
          </button>
          <ul class="plan-feature-list">
            <li>
              Great for managing your menus frequently
            </li>
            <li>
              Manage unlimited menus
            </li>
            <li>
              Manage your table d'hôte
            </li>
            <li>
              Manage your daily food and drink specials
            </li>
            <li>
              An optional contact tracing form
            </li>
            <li>
              A single QR code for your menus and your optional contact tracing
              form
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center">Plus Yearly</div>
        <div class="card-body text-center">
          <h1>$59.99</h1>
          <p>Every year</p>
          <p>14 day free trial</p>
          <button
            mat-raised-button
            class="btn"
            (click)="handlePlanClicked('plus-yearly')"
            [disabled]="isPaymentRequestSubmitted"
          >
            Start Free Trial
          </button>
          <ul class="plan-feature-list">
            <li>
              Great for managing your menus frequently
            </li>
            <li>
              Manage unlimited menus
            </li>
            <li>
              Manage your table d'hôte
            </li>
            <li>
              Manage your daily food and drink specials
            </li>
            <li>
              An optional contact tracing form
            </li>
            <li>
              A single QR code for your menus and your optional contact tracing
              form
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
