<div class="plans-container container-fluid">
  <div class="plans-container-content card card-container">
    <div class="alert alert-danger" *ngIf="isPaymentRequestFailed">
      {{ "pricing.ALERT" | translate }}
    </div>
    <div class="alert alert-info" *ngIf="isPaymentRequestSubmitted">
      {{ "pricing.REQUEST-MSG" | translate }}
    </div>
    <h2>{{ "pricing.CHOOSE-PLAN" | translate }}</h2>
    <div class="card-deck">
      <div class="card" *ngIf="!isLoggedIn">
        <div class="card-header text-center">
          {{ "pricing.PLAN1" | translate }}
        </div>
        <div class="card-body text-center">
          <h1>$0</h1>
          <p>{{ "pricing.PRICE1" | translate }}</p>
          <button
            mat-raised-button
            class="btn"
            (click)="handlePlanClicked('basic')"
            [disabled]="isPaymentRequestSubmitted"
          >
            Select
          </button>
          <ul class="plan-feature-list">
            <li>{{ "pricing.DESCRIPTION11" | translate }}</li>
            <li>{{ "pricing.DESCRIPTION12" | translate }}</li>
            <li>{{ "pricing.DESCRIPTION13" | translate }}</li>
            <li>{{ "pricing.DESCRIPTION14" | translate }}</li>
            <li>{{ "pricing.DESCRIPTION15" | translate }}</li>
            <li>{{ "pricing.DESCRIPTION16" | translate }}</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center">
          {{ "pricing.PLAN2" | translate }}
        </div>
        <div class="card-body text-center">
          <h1>$5.99</h1>
          <p>{{ "pricing.EVERY-MONTH" | translate }}</p>
          <p>{{ "pricing.FREE-TRIAL" | translate }}</p>
          <button
            mat-raised-button
            class="btn"
            (click)="handlePlanClicked('plus')"
            [disabled]="isPaymentRequestSubmitted"
          >
            {{ "pricing.START-FREE-TRIAL-BTN" | translate }}
          </button>
          <ul class="plan-feature-list">
            <li>{{ "pricing.DESCRIPTION21" | translate }}</li>
            <li>{{ "pricing.DESCRIPTION22" | translate }}</li>
            <li>{{ "pricing.DESCRIPTION23" | translate }}</li>
            <li>
              {{ "pricing.DESCRIPTION24" | translate }}
            </li>
            <li>{{ "pricing.DESCRIPTION25" | translate }}</li>
            <li>{{ "pricing.DESCRIPTION26" | translate }}</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center">
          {{ "pricing.PLAN3" | translate }}
        </div>
        <div class="card-body text-center">
          <h1>$59.99</h1>
          <p>{{ "pricing.EVERY-YEAR" | translate }}</p>
          <p>{{ "pricing.FREE-TRIAL" | translate }}</p>
          <button
            mat-raised-button
            class="btn"
            (click)="handlePlanClicked('plus-yearly')"
            [disabled]="isPaymentRequestSubmitted"
          >
            {{ "pricing.START-FREE-TRIAL-BTN" | translate }}
          </button>
          <ul class="plan-feature-list">
            <li>{{ "pricing.DESCRIPTION31" | translate }}</li>
            <li>{{ "pricing.DESCRIPTION32" | translate }}</li>
            <li>{{ "pricing.DESCRIPTION33" | translate }}</li>
            <li>
              {{ "pricing.DESCRIPTION34" | translate }}
            </li>
            <li>{{ "pricing.DESCRIPTION35" | translate }}</li>
            <li>{{ "pricing.DESCRIPTION36" | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
