.plans-container {
  padding-top: 100px;
}

.plans-container-content {
  border: none;
  margin-bottom: 50px;
}

.plans-container-content h2 {
  padding: 20px 0 50px 0;
  text-align: center;
}

.card-header {
  background-color: #009688;
  color: #fffef2;
}

.plans-container-content .card-deck .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plan-feature-list {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 2px solid #009688;
}

.plan-feature-list li {
  text-align: left;
  padding: 5px;
}
