<div class="add-restaurant container-fluid">
  <p>ID: {{ currentId }}</p>
  <form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()">
    <label>
      Restaurant Name:
      <input
        type="text"
        formControlName="name"
        placeholder="Restaurant name"
        required
      />
    </label>

    <label>
      City:
      <input type="text" formControlName="city" placeholder="City" required />
    </label>
    <label>
      Address:
      <input
        type="text"
        formControlName="address"
        placeholder="Address"
        required
      />
    </label>
    <div
      formArrayName="menus"
      *ngFor="
        let menu of restaurantForm.get('menus')['controls'];
        let i = index
      "
    >
      <label>
        Menu {{ i + 1 }}:
        <div [formGroupName]="i">
          <label>
            Menu Name:
            <input formControlName="name" placeholder="Menu name" required />
          </label>
          <label>
            Menu Filename:
            <input
              formControlName="filename"
              placeholder="Menu filename"
              required
            />
          </label>
          <label for="file">Choose File:</label>
          <input
            type="file"
            required
            id="file"
            (change)="handleInputFiles($event.target.files, i)"
          />
        </div>
      </label>
      <button type="button" (click)="deleteMenu(i)">- Remove Menu</button>
    </div>
    <button type="button" (click)="addMenu()">+ Add Menu</button>
    <label>
      Rating:
      <input
        type="text"
        formControlName="rating"
        placeholder="example: 4.6"
        required
      />
    </label>
    <label>
      Color:
      <input
        type="text"
        formControlName="color"
        placeholder="example: #009688"
        required
      />
    </label>
    <button type="submit" [disabled]="!restaurantForm.valid">Submit</button>
  </form>

  <p>Form Value: {{ restaurantForm.value | json }}</p>

  <p>Form Status: {{ restaurantForm.status }}</p>
</div>
