<div class="container-fluid form">
  <div class="row form-row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card my-5">
        <div class="card-body">
          <h5 class="card-title text-center">
            {{ "reset-password.ENTER-EMAIL" | translate }}
          </h5>
          <div>
            <div id="errorMsg" *ngIf="errorMessage">
              {{ "reset-password.FAILED-REQUEST" | translate
              }}<span>{{ errorMessage }}</span>
            </div>
            <div id="successMsg" *ngIf="successMessage">
              <span>{{ successMessage }}</span>
              {{ "reset-password.CHECK-EMAIL" | translate }}
            </div>
            <div *ngIf="!successMessage">
              <form
                action=""
                [formGroup]="requestResetForm"
                (ngSubmit)="requestResetUser()"
              >
                <div class="md-form mb-5">
                  <input
                    type="text"
                    id="email"
                    formControlName="email"
                    class="form-control"
                    mdbInput
                    mdbValidate
                    required
                  />
                  <label for="email">Email</label>
                  <mdb-error
                    *ngIf="
                      f.email.invalid && (f.email.dirty || f.email.touched)
                    "
                  >
                    <span *ngIf="f.email.errors.required">
                      {{ "reset-password.REQ-EMAIL" | translate }}</span
                    >
                    <span *ngIf="f.email.errors.email">
                      {{ "reset-password.VALID-EMAIL" | translate }}</span
                    >
                  </mdb-error>
                </div>
                <div class="form-group text-center">
                  <button
                    mat-raised-button
                    color="primary"
                    [disabled]="requestResetForm.invalid || successMessage"
                    class="reset-btn btn"
                  >
                    {{ "reset-password.RESET-PASS" | translate }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
