<div class="home container-fluid">
  <div class="home-overlay"></div>
  <div class="home-content container">
    <div class="row">
      <div
        class="home-left col-md-6 d-none d-sm-block"
        style="display: block"
        [@fadeInOut]
      >
        <img src="./assets/img/burger-girl-2.png" />
      </div>
      <div class="home-right col-md-6">
        <div class="home-right-column d-flex flex-column">
          <img src="./assets/img/bienmenu-long-logo.png" />
          <h1>QR Code Menu Platform</h1>
          <p>The easy way to manage your contactless Menu</p>

          <div *ngIf="!isLoggedIn">
            <div class="join-login-container d-flex flex-column">
              <button
                mat-raised-button
                class="join-btn btn"
                (click)="goToPricing()"
              >
                Join Now
              </button>
              <div class="d-flex">
                Already a member?&nbsp;
                <a routerLink="/login" mdbWavesEffect> Log In </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
