<div class="home container-fluid">
  <div class="home-overlay"></div>
  <div class="home-content container">
    <div class="contact-tracing-alert alert" [@fadeInDown]>
      {{ "home.MESSAGE" | translate }}
      <a
        [routerLink]="['/register', { plan: 'contact-tracing' }]"
        mdbWavesEffect
      >
        {{ "home.LINK-IN-MESSAGE" | translate }}</a
      >
    </div>
    <div class="row">
      <div
        class="home-left col-md-6 d-none d-sm-block"
        style="display: block"
        [@fadeIn]
      >
        <img src="./assets/img/burger-girl-2.png" />
      </div>
      <div class="home-right col-md-6">
        <div class="home-right-column d-flex flex-column">
          <img src="./assets/img/bienmenu-long-logo.png" />
          <h2>{{ "home.SUBTITLE" | translate }}</h2>
          <h4>{{ "home.SLOGAN" | translate }}</h4>

          <div *ngIf="!isLoggedIn">
            <div class="join-login-container d-flex flex-column">
              <button
                mat-raised-button
                class="join-btn btn"
                (click)="goToPricing()"
              >
                {{ "home.JOIN-NOW" | translate }}
              </button>
              <div>
                {{ "home.ALREADY-A-MEMBER" | translate }}&nbsp;
                <a routerLink="/login" mdbWavesEffect>
                  {{ "nav.LOGIN" | translate }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
