<div class="add-restaurant container-fluid">
  <div class="add-restaurant-content card card-container">
    <img
      id="profile-img"
      src="./assets/img/bienmenu-long-logo.png"
      class="profile-img-card"
    />
    <form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()">
      <div class="md-form">
        <div class="d-flex">
          <mdb-icon fas icon="tag" class="prefix grey-text"></mdb-icon>
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Enter your restaurant name"
            class="form-control"
            mdbInput
            mdbValidate
            required
          />
          <label for="name">Restaurant Name</label>
          <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">
            Restaurant name is required
          </mdb-error>
          <mdb-success *ngIf="name.valid && (name.dirty || name.touched)"
            >Valid
          </mdb-success>
        </div>
      </div>
      <app-address-autocomplete
        (setAddress)="getAddress($event)"
        adressType="establishment"
      >
      </app-address-autocomplete>
      <div class="md-form">
        <h4>Menus</h4>
      </div>
      <div
        formArrayName="menus"
        *ngFor="
          let menu of restaurantForm.get('menus')['controls'];
          let i = index
        "
      >
        <div class="md-form">
          <div [formGroupName]="i">
            <div class="md-form">
              <mdb-icon fas icon="bars" class="prefix grey-text"></mdb-icon>
              <input
                type="text"
                id="name"
                formControlName="name"
                placeholder="Example: Main Menu / Menu Principal"
                required
                class="form-control"
                mdbInput
                mdbValidate
              />
              <label for="name">Menu Name</label>
              <mdb-error
                *ngIf="
                  menu.controls.name.invalid &&
                  (menu.controls.name.dirty || menu.controls.name.touched)
                "
              >
                <span *ngIf="menu.controls.name.errors.required"
                  >Menu name is required</span
                >
                <span *ngIf="menu.controls.name.errors.unique"
                  >Menu name is already in use, menu names must be unique</span
                >
              </mdb-error>

              <mdb-success
                *ngIf="
                  menu.controls.name.valid &&
                  (menu.controls.name.dirty || menu.controls.name.touched)
                "
              >
                Valid
              </mdb-success>
            </div>

            <div class="md-form">
              <mdb-icon fas icon="file-pdf" class="prefix grey-text"></mdb-icon>
              <input
                type="file"
                id="menufile"
                (change)="
                  handleInputFiles(
                    $event.target.files,
                    menu.controls.name.value
                  )
                "
                [disabled]="
                  menu.controls.name.value === '' || menu.controls.name.invalid
                "
                required
              />
              <div class="divider"></div>
              <div
                class="alert alert-danger"
                *ngIf="
                  menuFilesValid.has(menu.controls.name.value) &&
                  !menuFilesValid.get(menu.controls.name.value)
                "
              >
                File must be in PDF format and no larger than 5 MB
              </div>
            </div>
            <button
              type="button"
              mat-raised-button
              (click)="deleteMenu(i)"
              class="delete-btn btn"
            >
              Remove Menu
            </button>
          </div>
        </div>
      </div>
      <button
        type="button"
        mat-raised-button
        [disabled]="maxMenuCountReached"
        (click)="addMenu()"
      >
        Add Menu
      </button>
      <div class="alert alert-danger" *ngIf="maxMenuCountReached">
        Failed to add menu, the maximum number of allowed menus per restaurant
        is {{ maxMenuCount }}.
      </div>

      <div class="md-form">
        <div class="d-flex">
          <div class="p-2 flex-fill">
            <mdb-icon fas icon="palette" class="prefix grey-text"></mdb-icon>
            <input
              type="text"
              id="color"
              formControlName="color"
              value="selectedColor"
              class="form-control"
              placeholder="Select a color for your menu viewer (optional)"
              mdbInput
            />
            <label for="color">Custom Color</label>
          </div>
          <div>
            <input
              class="color-input"
              readonly="readonly"
              [style.background]="selectedColor"
              [(colorPicker)]="selectedColor"
              [cpOutputFormat]="'hex'"
              [cpPosition]="'top'"
              [cpPositionOffset]="'50%'"
              [cpPositionRelativeToArrow]="true"
              [cpAlphaChannel]="'disabled'"
              [cpSaveClickOutside]="true"
              [cpFallbackColor]="'#009688'"
            />
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="submit-button"
        mat-raised-button
        [disabled]="!restaurantForm.valid || menus.length !== menuFiles.size"
      >
        Submit
      </button>
    </form>
    <div class="alert alert-danger" *ngIf="isOperationFailed">
      Failed to add restaurant...please try again or contact the system
      administrator.
    </div>
  </div>
</div>
