<div class="add-restaurant container-fluid">
  <div class="add-restaurant-content card card-container">
    <img
      id="profile-img"
      src="./assets/img/bienmenu-long-logo.png"
      class="profile-img-card"
    />
    <form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()">
      <div class="md-form">
        <mdb-icon fas icon="tag" class="prefix grey-text"></mdb-icon>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          mdbInput
          mdbValidate
          required
        />
        <label for="name">Restaurant Name</label>
        <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">
          Restaurant name is required
        </mdb-error>
        <mdb-success *ngIf="name.valid && (name.dirty || name.touched)"
          >Valid
        </mdb-success>
      </div>
      <div class="md-form">
        <mdb-icon fas icon="city" class="prefix grey-text"></mdb-icon>
        <input
          type="text"
          id="city"
          formControlName="city"
          class="form-control"
          placeholder="Example: Montreal"
          mdbInput
          mdbValidate
        />
        <label for="city">City</label>
        <mdb-error *ngIf="city.invalid && (city.dirty || city.touched)">
          City is required and first letter must be capitalized
        </mdb-error>
        <mdb-success *ngIf="city.valid && (city.dirty || city.touched)">
          Valid
        </mdb-success>
      </div>
      <div class="md-form">
        <mdb-icon fas icon="map-marker" class="prefix grey-text"></mdb-icon>
        <input
          type="text"
          id="address"
          placeholder="Example: 321 Main St., Montreal, QC, A1B 2C3"
          formControlName="address"
          class="form-control"
          mdbInput
          mdbValidate
        />
        <label for="address">Address</label>
        <mdb-error
          *ngIf="address.invalid && (address.dirty || address.touched)"
        >
          Address is required, must follow the format street-number street-name
          postal-code
        </mdb-error>
        <mdb-success
          *ngIf="address.valid && (address.dirty || address.touched)"
        >
          Valid
        </mdb-success>
      </div>
      <div class="md-form">
        <h4>Menus</h4>
      </div>
      <div
        formArrayName="menus"
        *ngFor="
          let menu of restaurantForm.get('menus')['controls'];
          let i = index
        "
      >
        <div class="md-form">
          <div [formGroupName]="i">
            <div class="md-form">
              <mdb-icon fas icon="bars" class="prefix grey-text"></mdb-icon>
              <input
                type="text"
                id="name"
                formControlName="name"
                placeholder="Example: Main Menu / Menu Principal"
                required
                class="form-control"
                mdbInput
                mdbValidate
              />
              <label for="name">Menu Name</label>
              <mdb-error
                *ngIf="
                  menu.controls.name.invalid &&
                  (menu.controls.name.dirty || menu.controls.name.touched)
                "
              >
                <span *ngIf="menu.controls.name.errors.required"
                  >Menu name is required</span
                >
                <span *ngIf="menu.controls.name.errors.unique"
                  >Menu name is already in use, menu names must be unique</span
                >
              </mdb-error>

              <mdb-success
                *ngIf="
                  menu.controls.name.valid &&
                  (menu.controls.name.dirty || menu.controls.name.touched)
                "
              >
                Valid
              </mdb-success>
            </div>

            <div class="md-form">
              <mdb-icon fas icon="file-pdf" class="prefix grey-text"></mdb-icon>
              <input
                type="file"
                id="menufile"
                (change)="
                  handleInputFiles(
                    $event.target.files,
                    menu.controls.name.value
                  )
                "
                [disabled]="
                  menu.controls.name.value === '' || menu.controls.name.invalid
                "
                required
              />
              <div class="divider"></div>
              <div
                class="alert alert-danger"
                *ngIf="
                  menuFilesValid.has(menu.controls.name.value) &&
                  !menuFilesValid.get(menu.controls.name.value)
                "
              >
                File must be in PDF format and no larger than 5 MB
              </div>
            </div>
            <button
              type="button"
              mat-raised-button
              (click)="deleteMenu(i)"
              class="delete-btn btn"
            >
              Remove Menu
            </button>
          </div>
        </div>
      </div>
      <button type="button" mat-raised-button (click)="addMenu()">
        Add Menu
      </button>

      <div class="md-form">
        <mdb-icon fas icon="palette" class="prefix grey-text"></mdb-icon>
        <input
          type="text"
          id="color"
          formControlName="color"
          class="form-control"
          placeholder="An optional unique color for your menu viewer"
          mdbInput
          mdbValidate
        />
        <label for="color">Custom Color</label>
        <mdb-error *ngIf="color.invalid && (color.dirty || color.touched)">
          Colour must be in hex format, for example try #009688
        </mdb-error>
        <mdb-success *ngIf="color.valid && (color.dirty || color.touched)">
          Valid
        </mdb-success>
      </div>
      <button
        type="submit"
        class="submit-button"
        mat-raised-button
        [disabled]="!restaurantForm.valid || menus.length !== menuFiles.size"
      >
        Submit
      </button>
    </form>
    <div class="alert alert-danger" *ngIf="isOperationFailed">
      Failed to add restaurant...please try again or contact the system
      administrator.
    </div>
  </div>
</div>
