.add-restaurant {
  margin: 70px 0 70px 0;
  position: absolute;
  overflow: auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-restaurant-content {
  border: none;
  width: 600px;
  padding: 15px;
}

.card-img {
  width: 100%;
  height: auto;
}

label {
  display: block;
  width: 12em;
  color: #009688;
}

.field-name {
  font-size: 16px;
  padding-right: 15px;
  margin: 0.5em 0;
  color: #707070;
}

.color-input {
  width: 40px !important;
  height: 40px !important;
}

.color-input:hover {
  cursor: pointer;
}

.submit-button {
  width: 100%;
}
