<div class="add-restaurant container-fluid">
  <div class="add-restaurant-content card card-container">
    <img
      id="card-img"
      src="./assets/img/bienmenu-long-logo.png"
      class="card-img"
    />
    <form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()">
      <div class="md-form">
        <div class="d-flex">
          <mdb-icon fas icon="tag" class="prefix grey-text"></mdb-icon>
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Example: BienMenu Restobar"
            class="form-control"
            mdbInput
            mdbValidate
            required
          />
          <label for="name">{{
            "add-restaurant.BUSINESS-NAME" | translate
          }}</label>
          <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">
            {{ "add-restaurant.MSG-REQ-NAME" | translate }}
          </mdb-error>
          <mdb-success *ngIf="name.valid && (name.dirty || name.touched)"
            >{{ "add-restaurant.VALID" | translate }}
          </mdb-success>
        </div>
      </div>
      <app-address-autocomplete
        (setAddress)="getAddress($event)"
        adressType="establishment"
      >
      </app-address-autocomplete>
      <!-- <div *ngIf="currentPlan !== 'contact-tracing'">
        <div class="md-form">
          <div class="d-flex">
            <span class="field-name">Select an Option </span>
            <div class="menu-option-select flex-fill">
              <select
                class="browser-default custom-select"
                [(ngModel)]="selectedMenuOption"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="onMenuOptionChange($event)"
              >
                <option value="internal">
                  Host my menus on BienMenu (Recommended)
                </option>
                <option value="external">My menus are hosted elsewhere</option>
              </select>
            </div>
          </div>
        </div>
        <div *ngIf="selectedMenuOption === 'external'">
          <div class="md-form">
            <div class="d-flex">
              <mdb-icon
                fas
                icon="external-link-alt"
                class="prefix grey-text"
              ></mdb-icon>
              <input
                type="text"
                id="externalMenuLink"
                formControlName="externalMenuLink"
                placeholder="Enter the url where your menus are hosted"
                class="form-control"
                mdbInput
                mdbValidate
              />
              <label for="externalMenuLink">Menus URL</label>
              <mdb-error
                *ngIf="
                  externalMenuLink.invalid &&
                  (externalMenuLink.dirty || externalMenuLink.touched)
                "
              >
                <span *ngIf="externalMenuLink.errors.required"
                  >Menus URL is required</span
                >
                <span *ngIf="externalMenuLink.errors.pattern"
                  >Please enter a valid URL</span
                >
              </mdb-error>
              <mdb-success
                *ngIf="
                  externalMenuLink.valid &&
                  (externalMenuLink.dirty || externalMenuLink.touched)
                "
                >Valid
              </mdb-success>
            </div>
          </div>
        </div>
        <div *ngIf="selectedMenuOption === 'internal'">
          <div class="md-form">
            <span class="field-name">Add Your Menus </span>
          </div>
          <div
            formArrayName="menus"
            *ngFor="
              let menu of restaurantForm.get('menus')['controls'];
              let i = index
            "
          >
            <div class="md-form">
              <div [formGroupName]="i">
                <div class="md-form">
                  <div class="d-flex">
                    <div class="flex-fill">
                      <mdb-icon
                        fas
                        icon="bars"
                        class="prefix grey-text"
                      ></mdb-icon>
                      <input
                        type="text"
                        id="name"
                        formControlName="name"
                        placeholder="Example: Main Menu"
                        required
                        class="form-control"
                        mdbInput
                        mdbValidate
                      />
                      <label for="name">Menu Name</label>
                      <mdb-error
                        *ngIf="
                          menu.controls.name.invalid &&
                          (menu.controls.name.dirty ||
                            menu.controls.name.touched)
                        "
                      >
                        <span *ngIf="menu.controls.name.errors.required"
                          >Menu name is required</span
                        >
                        <span *ngIf="menu.controls.name.errors.unique"
                          >Menu name is already in use, menu names must be
                          unique</span
                        >
                      </mdb-error>

                      <mdb-success
                        *ngIf="
                          menu.controls.name.valid &&
                          (menu.controls.name.dirty ||
                            menu.controls.name.touched)
                        "
                      >
                        Valid
                      </mdb-success>
                    </div>
                    <div>
                      <button
                        type="button"
                        mat-raised-button
                        (click)="deleteMenu(i)"
                        class="delete-btn btn"
                      >
                        Remove Menu
                      </button>
                    </div>
                  </div>
                </div>

                <div class="md-form">
                  <mdb-icon
                    fas
                    icon="file-pdf"
                    class="prefix grey-text"
                  ></mdb-icon>
                  <input
                    type="file"
                    id="menufile"
                    (change)="
                      handleInputFiles(
                        $event.target.files,
                        menu.controls.name.value
                      )
                    "
                    [disabled]="
                      menu.controls.name.value === '' ||
                      menu.controls.name.invalid
                    "
                    required
                  />
                  <div class="divider"></div>
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      menuFilesValid.has(menu.controls.name.value) &&
                      !menuFilesValid.get(menu.controls.name.value)
                    "
                  >
                    File must be in PDF format and no larger than 5 MB
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            type="button"
            mat-raised-button
            [disabled]="maxMenuCountReached"
            (click)="addMenu()"
            style="margin-bottom: 20px"
          >
            Add Menu
          </button>
          <div class="alert alert-danger" *ngIf="maxMenuCountReached">
            The maximum number of allowed menus per restaurant has been reached:
            {{ maxMenuCount }}.
          </div>
        </div>
      </div> -->
      <div class="md-form">
        <mdb-icon fas icon="image" class="prefix grey-text"></mdb-icon>
        <input
          type="file"
          #coverPhotoImage
          (change)="handleImageFile($event.target.files)"
        />
      </div>
      <div class="md-form">
        <div class="d-flex">
          <div class="p-2 flex-fill">
            <mdb-icon fas icon="palette" class="prefix grey-text"></mdb-icon>
            <input
              type="text"
              id="color"
              formControlName="color"
              value="selectedColor"
              class="form-control"
              placeholder="{{ 'add-restaurant.PLACEHOLDER-COLOR' | translate }}"
              mdbInput
            />
            <label for="color">
              {{ "add-restaurant.CUSTOM-COLOR" | translate }}</label
            >
          </div>
          <div>
            <input
              class="color-input"
              readonly="readonly"
              [style.background]="selectedColor"
              [(colorPicker)]="selectedColor"
              [cpOutputFormat]="'hex'"
              [cpPosition]="'top'"
              [cpPositionOffset]="'50%'"
              [cpPositionRelativeToArrow]="true"
              [cpAlphaChannel]="'disabled'"
              [cpSaveClickOutside]="true"
              [cpFallbackColor]="'#009688'"
            />
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="submit-button"
        mat-raised-button
        [disabled]="
          !restaurantForm.valid ||
          menus.length !== menuFiles.size ||
          !isAddressSet ||
          (isSubmitted && !isOperationFailed)
        "
      >
        {{ "add-restaurant.SUBMIT-BTN" | translate }}
      </button>
    </form>
    <div class="alert alert-danger" *ngIf="isOperationFailed">
      {{ "add-restaurant.ALERT" | translate }}
    </div>
    <div class="alert alert-info" *ngIf="isSubmitted && !isOperationFailed">
      <div class="row">
        <div class="col-md-2">
          <mat-spinner diameter="20"></mat-spinner>
        </div>
        <div class="col-md-auto">
          {{ "add-restaurant.SETTING-RESTAURANT-MSG" | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
