<div *ngIf="restaurant">
  <h2>{{ restaurant.name }} Details</h2>
  <div><span>Restaurant ID: </span>{{ restaurant._id }}</div>
  <div><span>Restaurant Name: </span>{{ restaurant.name }}</div>
  <div><span>Restaurant City: </span>{{ restaurant.city }}</div>
  <div><span>Restaurant Address: </span>{{ restaurant.address }}</div>
  <div>
    <span>Restaurant Menus: </span>
    <ul>
      <li *ngFor="let menu of restaurant.menus; let i = index">
        Menu {{ i + 1 }}:
        <span>{{ menu.name }}</span>
        <span>{{ menu.filename }}</span>
        <app-update-menu
          [restaurantId]="restaurant._id"
          [menu]="menu"
        ></app-update-menu>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteMenu(menu._id)"
        >
          Delete Menu
        </button>
      </li>
    </ul>
  </div>
  <div><span>Restaurant Rating: </span>{{ restaurant.rating }}</div>
  <div><span>Restaurant Color: </span>{{ restaurant.color }}</div>
  <!-- <button type="button" class="btn btn-primary" (click)="addMenu()">
    + Add Menu
  </button> -->
  <app-add-menu [restaurantId]="restaurant._id"></app-add-menu>
</div>
