.top-padding {
  padding-top: 71px;
}

.display-menu {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
}

.display-menu-content {
  padding: 0;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color) !important;
}

// @media (max-width: 768px) {
//   .mobileDisplay {
//     display: none;
//   }
// }

.food-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.food-name {
  font-weight: bold;
  font-size: 20px;
  padding-top: 8px;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.menu-title {
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: "Lobster Two";
  padding: 10px;
}

// .big-food-image {
//   width: 250px;

//   @media (max-width: 700px) {
//     width: 150px;
//     height: 150px;
//   }
// }

// .food-name-div {
//   width: 250px;

//   @media (max-width: 700px) {
//     width: 100px;
//   }
// }

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lobster Two";
  font-weight: bold;
  font-size: 22px;
  text-transform: capitalize;
}

// .section-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   padding-top: 30px;
//   padding-bottom: 30px;

// }

.small-img {
  width: 200px;
  height: 150px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  border-radius: 15px;

  @media (max-width: 768px) {
    margin: auto;
    width: 100px;
    height: 80px;
  }
}

.mat-icon {
  vertical-align: middle;
  color: var(--main-color) !important;
}

.food-item-manager {
  margin: 80px 0 70px 0;
  position: absolute;
  overflow: auto;
  display: flex;
}

.food-description {
  font-size: smaller;
}

.food-item-manager-content {
  width: 100%;
}

.food-items-accordion .mat-expansion-panel-header-title,
.food-items-accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.food-items-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.food-items-accordion .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
