.display-menu {
  margin: 80px 0 70px 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 5px rgb(243, 243, 243);
  border-radius: 50px;
}
.menu-title {
  font-weight: 600;
}
.discout {
  -webkit-text-decoration-line: line-through; /* Safari */
  text-decoration-line: line-through;
}
.section-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;
  .section-title {
    font-family: "Lobster Two";
    font-weight: 400;
    text-transform: capitalize;
  }
}

.food-item-manager {
  margin: 80px 0 70px 0;
  position: absolute;
  overflow: auto;
  display: flex;
}

.food-description {
  font-size: smaller;
}

.food-item-manager-content {
  width: 100%;
}

.food-items-accordion .mat-expansion-panel-header-title,
.food-items-accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.food-items-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.food-items-accordion .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
