<div class="user-board container-fluid">
  <div class="user-board-content container">
    <div class="d-flex flex-column">
      <h2>{{ "user.TITLE" | translate }}</h2>

      <ul class="restaurants list-group">
        <li *ngFor="let restaurant of restaurants" class="list-group-item">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-4">
                <span>{{ restaurant.name }}</span>
              </div>
              <div class="col-md-8">
                <div class="row justify-content-end">
                  <div class="col-sm-auto">
                    <button
                      mat-raised-button
                      matTooltip="Preview what your customers will see"
                      matTooltipClass="btn-tooltip"
                      class="btn btn-block"
                      (click)="goToRoute('/' + restaurant._id)"
                    >
                      {{ "admin.PREVIEW" | translate }}
                    </button>
                  </div>
                  <div class="col-sm-auto">
                    <button
                      mat-raised-button
                      matTooltip="View QR code and download it"
                      matTooltipClass="btn-tooltip"
                      class="btn btn-block"
                      (click)="goToRoute('/qrcode/' + restaurant._id)"
                    >
                      QR Code
                    </button>
                  </div>
                  <div class="col-sm-2">
                    <button
                      mat-mini-fab
                      mat-raised-button
                      matTooltip="Manage your business"
                      matTooltipClass="btn-tooltip"
                      aria-label="Edit and manage business"
                      (click)="goToRoute('/detail/' + restaurant._id)"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="add-new" *ngIf="enableAdd">
        <a routerLink="/add">
          <button mat-raised-button class="btn">
            {{ "user.ADD-BUSINESS-BTN" | translate }}
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
