<div class="user-board container-fluid">
  <div class="user-board-content container">
    <div class="d-flex flex-column">
      <h3>Your Restaurants</h3>
      <ul class="restaurants list-group">
        <li
          *ngFor="let restaurant of restaurants"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          {{ restaurant.name }}
          <div class="d-flex justify-content-between">
            <a routerLink="/detail/{{ restaurant._id }}">
              <button class="btn">Details</button>
            </a>
            <a routerLink="/qrcode/{{ restaurant._id }}">
              <button class="btn">QR Code</button>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
