<div class="page-not-found container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          {{ "404.OOPS" | translate }}
        </h1>
        <h2>{{ "404.NOT-FOUND" | translate }}</h2>
        <div class="error-details">
          {{ "404.MSG" | translate }}
        </div>
        <div class="divider"></div>
        <div class="error-actions">
          <a routerLink="/home"
            ><button
              mat-raised-button
              color="primary"
              type="button"
              class="btn"
            >
              {{ "404.HOME" | translate }}
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
