<div class="page-not-found container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!
        </h1>
        <h2>
          404 Not Found
        </h2>
        <div class="error-details">
          Sorry, an error has occured, the requested page cannot be found!
        </div>
        <div class="divider"></div>
        <div class="error-actions">
          <a routerLink="/home"
            ><button
              mat-raised-button
              color="primary"
              type="button"
              class="btn"
            >
              Take Me Home
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
