<div class="profile-container container-fluid">
  <div class="profile-container-content container" *ngIf="currentUser">
    <div class="card">
      <img
        class="card-img-top"
        src="./assets/img/bienmenu-logo.png"
        alt="Bienmenu"
        style="width: 100px; margin: 20px"
      />
      <div class="card-body">
        <h5 class="card-title">
          Welcome <strong>{{ currentUser.firstName }}</strong
          >!
        </h5>
        <p class="card-text">Here you can see your basic profile info.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Name:</strong> {{ currentUser.firstName }}&nbsp;{{
            currentUser.lastName
          }}
        </li>
        <li class="list-group-item">
          <strong>Email:</strong> {{ currentUser.email }}
        </li>
        <li class="list-group-item">
          <strong>Current Plan:</strong> {{ currentUser.plan }}
        </li>
        <li class="list-group-item">
          <strong>Restaurants:</strong>
          <ul>
            <li *ngFor="let restaurant of currentUser.restaurants">
              {{ restaurant.name }}
            </li>
          </ul>
        </li>
      </ul>
      <div class="card-body">
        <button
          mat-raised-button
          class="upgrade-btn btn"
          [disabled]="currentUser.plan !== 'basic'"
          (click)="goToPricing()"
        >
          Upgrade Your Plan
        </button>

        <a
          class="card-link waves-light"
          href="https://www.bien-menu.com/contact"
        >
          <button mat-raised-button class="contact-btn btn">Contact Us</button>
        </a>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="!isLoggedIn">
      Please login to view your profile.
    </div>
  </div>
</div>
