<div
  mdbModal
  #addFoodItemModal="mdbModal"
  class="modal fade left"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  [config]="{
    backdrop: false,
    ignoreBackdropClick: true,
    keyboard: false,
    animated: true
  }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">
          {{ "add-food-item.ADD" | translate }}
        </h4>
        <button
          type="button"
          class="close"
          #closeButton
          mat-raised-button
          data-dismiss="modal"
          aria-label="Close"
          (click)="close()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="foodItemForm">
          <div class="md-form">
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              mdbInput
              mdbValidate
              required
            />
            <label for="name">{{ "add-food-item.NAME" | translate }}</label>
            <mdb-error
              *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
            >
              <span *ngIf="f.name.errors.required">{{
                "add-food-item.REQ-MSG-NAME" | translate
              }}</span>
              <span *ngIf="f.name.errors.duplicate">{{
                "add-food-item.NAME-ALREADY-EXSITS" | translate
              }}</span>
            </mdb-error>
            <mdb-success
              *ngIf="f.name.valid && (f.name.dirty || f.name.touched)"
              >{{ "add-food-item.VALID" | translate }}
            </mdb-success>
          </div>
          <div class="md-form">
            <textarea
              type="text"
              id="description"
              formControlName="description"
              class="md-textarea form-control"
              mdbInput
            ></textarea>
            <label for="description">Description</label>
          </div>
          <div class="md-form">
            <input
              type="text"
              id="price"
              formControlName="price"
              class="form-control"
              mdbInput
              mdbValidate
              required
            />
            <label for="price"
              >{{ "add-food-item.PRICE" | translate }} ($)</label
            >
            <mdb-error
              *ngIf="f.price.invalid && (f.price.dirty || f.price.touched)"
            >
              <span *ngIf="f.price.errors.required">{{
                "add-food-item.REQ-MSG-PRICE" | translate
              }}</span>
              <span *ngIf="f.price.errors.pattern">{{
                "add-food-item.VALID-PRICE" | translate
              }}</span>
            </mdb-error>
            <mdb-success
              *ngIf="f.price.valid && (f.price.dirty || f.price.touched)"
              >{{ "add-food-item.VALID" | translate }}
            </mdb-success>
          </div>
          <div class="md-form">
            <input
              type="text"
              id="promotionPrice"
              formControlName="promotionPrice"
              class="form-control"
              mdbInput
              mdbValidate
            />
            <label for="promotionPrice"
              >{{ "add-food-item.PROMOTION-PRICE" | translate }} ($)</label
            >
            <mdb-error
              *ngIf="
                f.promotionPrice.invalid &&
                (f.promotionPrice.dirty || f.promotionPrice.touched)
              "
            >
              <span *ngIf="f.promotionPrice.errors.pattern">{{
                "add-food-item.VALID-PRICE" | translate
              }}</span>
            </mdb-error>
            <mdb-success
              *ngIf="
                f.promotionPrice.valid &&
                (f.promotionPrice.dirty || f.promotionPrice.touched)
              "
              >{{ "add-food-item.VALID" | translate }}
            </mdb-success>
          </div>
          <div class="md-form">
            <input
              type="text"
              id="calories"
              formControlName="calories"
              class="form-control"
              mdbInput
              mdbValidate
            />
            <label for="calories">Calories</label>
            <mdb-success
              *ngIf="
                f.calories.valid && (f.calories.dirty || f.calories.touched)
              "
              >{{ "add-food-item.VALID" | translate }}
            </mdb-success>
          </div>
          <div class="md-form">
            <mdb-icon fas icon="file-image" class="prefix grey-text"></mdb-icon>
            <input
              type="file"
              #imageFile
              (change)="handleInputFiles($event.target.files)"
            />
          </div>
          <div class="md-form">
            <mat-form-field class="tag-list">
              <mat-chip-list #tagsChipList aria-label="Tag selection">
                <mat-chip
                  *ngFor="let tag of tags"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(tag)"
                >
                  {{ tag }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Tags"
                  [matChipInputFor]="tagsChipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)"
                  mdbInput
                  mdbValidate
                />
              </mat-chip-list>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex flex-column justify-content-center">
        <button
          type="button"
          class="btn"
          id="saveButton"
          data-dismiss="modal"
          mdbWavesEffect
          mat-raised-button
          (click)="saveFoodItem()"
          [disabled]="
            foodItemForm.invalid || (isSubmitted && !isOperationFailed)
          "
        >
          {{ "add-food-item.SAVE" | translate }}
        </button>
        <div class="alert alert-danger" *ngIf="isOperationFailed">
          {{ "add-food-item.FAILED-ALERT" | translate }}
        </div>
        <div class="alert alert-danger" *ngIf="!isValidFile && fileToUpload">
          {{ "add-food-item.IMAGE-SIZE-ALERT" | translate }}
        </div>
        <div class="alert alert-info" *ngIf="isSubmitted && !isOperationFailed">
          <div class="row">
            <div class="col-md-2">
              <mat-spinner diameter="20"></mat-spinner>
            </div>
            <div class="col-md-auto">
              {{ "add-food-item.SAVING" | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
