<div class="admin-board container-fluid">
  <div class="admin-board-content container">
    <div class="d-flex flex-column" *ngIf="accessAllowed">
      <h3>All Restaurants</h3>
      <ul class="restaurants list-group">
        <li
          *ngFor="let restaurant of restaurants"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          {{ restaurant.name }}
          <div class="d-flex justify-content-between">
            <a routerLink="/menus/{{ restaurant._id }}">
              <button mat-raised-button class="btn">Menus</button>
            </a>
            <div class="divider"></div>
            <a routerLink="/detail/{{ restaurant._id }}">
              <button mat-raised-button class="btn">Manage</button>
            </a>
            <div class="divider"></div>
            <a routerLink="/qrcode/{{ restaurant._id }}/{{ restaurant.color }}">
              <button mat-raised-button class="btn">QR Code</button>
            </a>
          </div>
        </li>
      </ul>
      <div class="add-new">
        <a routerLink="/add">
          <button mat-raised-button class="btn">Add New</button>
        </a>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="!accessAllowed">
      {{ content }}
    </div>
  </div>
</div>
