<div class="food-item-manager container-fluid">
  <div class="food-item-manager-content">
    <div class="example-action-buttons">
      <button mat-raised-button (click)="accordion.openAll()">
        Expand All
      </button>
      <div class="divider"></div>
      <button mat-raised-button (click)="accordion.closeAll()">
        Collapse All
      </button>
    </div>

    <mat-accordion class="food-items-accordion" multi>
      <div *ngFor="let foodItem of foodItems">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ foodItem.name }} </mat-panel-title>
            <mat-panel-description>
              ${{ foodItem.price }}
              <mat-icon>fastfood</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div>
              {{ foodItem.description }}
            </div>
            <div class="vertical-divider"></div>
            <div><span>Calories: </span>{{ foodItem.calories }}</div>
            <div class="vertical-divider"></div>
            <div>
              <mat-chip-list aria-label="Fish selection">
                <div *ngFor="let tag of foodItem.tags">
                  <mat-chip color="primary" selected>{{ tag }}</mat-chip>
                </div>
              </mat-chip-list>
            </div>
            <div>
              <button
                mat-raised-button
                type="button"
                class="edit-btn btn float-right"
                (click)="openModal('addFoodItemModal', foodItem)"
              >
                Edit
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
    <div class="add">
      <button
        mat-raised-button
        type="button"
        class="add-btn btn"
        (click)="openModal('addFoodItemModal')"
      >
        Add Food Item
      </button>
      <app-add-food-item
        #addFoodItem
        (closed)="onClosedModal($event)"
      ></app-add-food-item>
    </div>
  </div>
</div>
