@media (max-width: 700px) {
  .myelement {
    display: none;
  }
}
@media (max-width: 700px) {
  .price {
    position: fixed;
    padding-left: 65%;
  }
}
.mat-icon {
  vertical-align: middle;
}
.food-description {
  font-size: smaller;
}
.food-item-manager {
  margin: 80px 0 70px 0;
  position: absolute;
  overflow: auto;
  display: flex;
}

.food-item-manager-content {
  width: 100%;
}
.small-img {
  width: 40px;

  border-radius: 30px;
}
.action-buttons {
  padding-bottom: 20px;
}

.food-items-accordion .mat-expansion-panel-header-title,
.food-items-accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.food-items-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.food-items-accordion .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.add-btn {
  margin-top: 20px;
}
