/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.navbar {
  background-color: #009688;
}

.divider {
  width: 10px;
  height: auto;
  display: inline-block;
}

.vertical-divider {
  width: 100%;
  height: 20px;
  display: inline-block;
}

button {
  background-color: #009688 !important;
  color: white !important;
  cursor: pointer;
}

button:hover {
  background-color: #fffef2 !important;
  color: #009688 !important;
}

button:disabled {
  background-color: #eee !important;
  color: #ccc !important;
  cursor: auto !important;
}

button.delete-btn {
  margin-bottom: 10px;
  background-color: #bb0000 !important;
}

button.delete-btn:hover {
  background-color: #fffef2 !important;
  color: #009688 !important;
}
