<div
  class="menus-container container-fluid"
  *ngIf="!showSplashScreen"
  [ngClass]="{ 'top-padding': isLoggedIn }"
  [@fadeInOut]
>
  <div class="menus-container-content container" *ngIf="currentRestaurant">
    <div class="d-flex flex-column">
      <div class="menus-title">
        <h2>{{ currentRestaurant.name }}</h2>
      </div>

      <ul class="menus list-group-flush" *ngIf="menus">
        <li
          *ngFor="let menu of menus; let i = index"
          (click)="openMenu(menu.filename)"
          class="menu-item list-group-item d-flex justify-content-between align-items-center"
        >
          <div class="d-flex w-100 justify-content-between">
            <div class="d-flex flex-column">
              <h5 class="mb-1">{{ menu.name }}</h5>
              <div class="d-flex w-100">
                <mat-icon matListIcon>touch_app</mat-icon>
                <p class="mb-1">Tap to view menu</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="pdf-container container" *ngIf="pdfSrc">
        <pdf-viewer
          [src]="pdfSrc"
          [render-text]="true"
          [original-size]="false"
          [show-borders]="true"
          style="display: block;"
        ></pdf-viewer>
      </div>
    </div>
  </div>
</div>
<div
  class="splash-screen container-fluid"
  *ngIf="showSplashScreen"
  [@fadeInOut]
>
  <div class="container">
    <div class="d-flex flex-column">
      <h4>Propulsé par / Powered by</h4>

      <img
        class="bienmenu-long-logo"
        src="./assets/img/bienmenu-long-logo.png"
      />
    </div>
  </div>
</div>
