<section id="home">
  <div class="home container-fluid">
    <div class="d-flex flex-column">
      <h3>Restaurants</h3>
      <ul class="restaurants list-group">
        <li *ngFor="let restaurant of restaurants" class="list-group-item">
          <a class="list-group-item" routerLink="/detail/{{ restaurant._id }}">
            {{ restaurant.name }}
          </a>
        </li>
      </ul>
      <a routerLink="/add">
        <button class="btn btn-primary">Add New</button>
      </a>
    </div>
  </div>
</section>
