<div class="container-fluid form">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">
            {{ "reset-password.TITLE" | translate }}
          </h5>
          <div>
            <div id="errorMsg" *ngIf="errorMessage">
              <span>{{ errorMessage }}</span>
            </div>
            <div id="successMsg" *ngIf="successMessage">
              <span>{{ successMessage }}</span>
            </div>
            <div *ngIf="!successMessage">
              <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                <div class="md-form mb-5">
                  <input
                    type="password"
                    id="newPassword"
                    formControlName="newPassword"
                    class="form-control"
                    mdbInput
                    mdbValidate
                    required
                  />
                  <label for="newPassword">{{
                    "reset-password.NEW-PASS" | translate
                  }}</label>
                  <mdb-error
                    *ngIf="
                      f.newPassword.invalid &&
                      (f.newPassword.dirty || f.newPassword.touched)
                    "
                  >
                    <span *ngIf="f.newPassword.errors.required">{{
                      "reset-password.REQ-MSG-PASS" | translate
                    }}</span>
                    <span *ngIf="f.newPassword.errors.minlength">{{
                      "reset-password.REQ-PASS-LENGTH" | translate
                    }}</span>
                  </mdb-error>
                </div>
                <div class="md-form mb-5">
                  <input
                    type="password"
                    id="confirmPassword"
                    formControlName="confirmPassword"
                    class="form-control"
                    mdbInput
                    mdbValidate
                    required
                  />
                  <label for="confirmPassword">{{
                    "reset-password.NEW-PASS" | translate
                  }}</label>
                  <mdb-error
                    *ngIf="
                      f.confirmPassword.invalid &&
                      (f.confirmPassword.dirty || f.confirmPassword.touched)
                    "
                  >
                    <span *ngIf="f.confirmPassword.errors.required">{{
                      "reset-password.ALERT" | translate
                    }}</span>
                    <span *ngIf="f.confirmPassword.errors.mustMatch">{{
                      "reset-password.ALERT-MATCH-PASS" | translate
                    }}</span>
                  </mdb-error>
                </div>
                <div class="form-group text-center">
                  <button
                    mat-raised-button
                    color="primary"
                    [disabled]="resetForm.invalid || successMessage"
                    class="reset-btn btn"
                  >
                    {{ "reset-password.UPDATE-PASS" | translate }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
